<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ul>
      {% assign currentpage = page.url %}
      {% for page in site.pages %}
        {% unless page.url contains ".css" %}
          <li>
            <a href="{{ site.baseurl }}{{ page.url }}" {% if currentpage == page.url %}class = "active"{% endif %}>{{ page.title }}</a>
          </li>
        {% endunless %}
      {% endfor %}

      <li>
        <a href="{{ site.baseurl }}/Log_in_to_your_server_and_do_stuff.html" {% if currentpage == 'Log_in_to_your_server_and_do_stuff.html' %}class = "active"{% endif %}>{{ page.title }}</a>
        <ul>
          <a href="{{ site.baseurl }}/install_git.html" {% if currentpage == 'install_git.html' %}class = "active"{% endif %}>{{ page.title }}</a>
        </ul>
      </li>
    </ul>
  </nav>
</footer>
